:root{
	--wysrodkowanie: auto;
	--wielkosc: 92%;
	--styl: italic;
	--rodzina: arial;
	--srodek: center;
	--lewa: left;
	--prawa: right;
	--oplywanie: left;
	--kolor: black;
}

body{
	background-image: url("../obrazki_bmi/tapeta_bmi.webp");
}

#kontener{
	width: 98%;
	margin: var(--wysrodkowanie);
}

#naglowek{
	width: var(--wielkosc);
	margin: 15px auto 15px auto;
	font-size: 33px;
	font-style: var(--styl);
	font-family: new times roman;
	text-align: var(--srodek);
}

#opis{
	width: 96%;
	margin: var(--wysrodkowanie);
}

#tytul1, #tytul2, #tytul3{
	padding-bottom: 3px;
	font-size: 24px;
	font-family: var(--rodzina);
	text-align: var(--lewa);
	border-bottom: 3px double #A8A8A8;
}

#tytul1{
	width: 170px;
	margin: 5px 0px 5px 0px;
}

#tytul2{
	width: 195px;
	margin: 5px 0px 5px 0px;
}

#tytul3{
	width: 275px;
	margin: 95px 0px 5px 0px;
}

.informacje1, #informacje2, .informacje3{
	font-size: 20px;
	font-style: var(--styl);
	text-align: var(--lewa);
	word-spacing: 1px;
}

.informacje1{
	width: var(--wielkosc);
	margin: 0px 0px 20px 10px;
}

#informacje2{
	width: var(--wielkosc);
	margin-left: 10px;
}

.informacje3{
	margin: -8px 0px 5px 5px;
}

#wzor{
	width: var(--wielkosc);
	margin: var(--wysrodkowanie);
	font-size: 21px;
	font-style: var(--styl);
	text-align: var(--srodek);
}

#rownanie1{
	width: 32%;
	padding-right: 3%;
	font-size: 29px;
	line-height: 65px;
	text-align: var(--prawa);
	float: var(--oplywanie);
}

#rownanie2{
	width: 40%;
	padding-right: 25%;
	float: var(--oplywanie);
}

#pole_glowne{
	width: var(--wielkosc);
	margin: var(--wysrodkowanie);
}

#wyniki{
	width: 40%;
	float: var(--oplywanie);
}

ul{
	list-style-type: disc;
	font-style: var(--styl);
}

.oczysc{
	color: var(--kolor);
	font-size: 23px;
}

.wyglodzenie, .wychudzenie, .niedowaga, .prawidlowa, .nadwaga, .otylosc1, .otylosc2, .otylosc3{
	font-size: 31px;
}

.wyglodzenie{
	color: #082E79;
}

.wychudzenie{
	color: #4169E1;
}

.niedowaga{
	color: #ACE1AF;
}

.prawidlowa{
	color: #CDEBA7;
}

.nadwaga{
	color: #FFFF99;
}

.otylosc1{
	color: #FDE456;
}

.otylosc2{
	color: #CF2929;
}

.otylosc3{
	color: #801818;
}

#kalkulator{
	width: 55%;
	float: right;
	margin: 70px 0px 20px 0px;
	padding: 20px 0px 20px 0px;
	font-size: 25px;
	font-family: var(--rodzina);
	text-align: var(--srodek);
	background-color: rgba(168, 168, 168, 0.1);
	border: 4px double #A8A8A8;
	border-radius: 10% 25% 10% 25%;
}

input[type="number"]{
	width: 70px;
	padding: 2px;
	font-size: 21px;
	text-align: var(--prawa);
	background-color: white;
}

#popraw1, #popraw2{
	font-size: 18px;
	color: red;
}

input[type="button"]{
	padding: 10px;
	font-size: 26px;
	font-family: var(--rodzina);
	background-color: rgba(100, 181, 246, 0.7);
	border-radius: 4px;
	cursor: pointer;
}

input[type="button"]:hover{
	filter: sepia(25%);
}

#rezultat{
	margin: 25px auto 15px auto;
	font-size: 26px;
	font-style: var(--styl);
	text-align: var(--srodek);
	clear: both;
}

#szczegoly{
	width: var(--wielkosc);
	margin: var(--wysrodkowanie);
}

.oczysc2{
	color: var(--kolor);
	font-size: 24px;
	font-family: var(--rodzina);
}

#stopka{
	width: var(--wielkosc);
	margin: 20px auto 15px auto;
	font-size: 17px;
	font-family: var(--rodzina);
	text-align: var(--srodek);
	text-shadow: 0.5px 0.5px 1px black;
}